<h1>Anagrams!</h1>

<p>Enter two words and see if they match.</p>

<form action='/results' method='get'>
  <div class="form-group">
    <label for="inputOne">Enter a word:</label>
    <input id="inputOne" name="inputOne" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="inputTwo">Enter another word:</label>
    <input id="inputTwo" name="inputTwo" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Go!</button>
</form>
